mainstyle.css
body, html {
    background-image: url("paint-paint-splashes-paint-splash-drop-preview.jpg");
    width: 100%;
}

.inner-background{
    background-color: white;
    padding-top: 120px;
    margin: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
}
.wrapper {
    font-family: "Arial";
    background-color: white;
    padding-bottom: 50px;
}

.toolbar{
    width: 100%;
    background-color: #444444;
    overflow: auto;
}

.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: white;
}

.toolbar a:hover {
    background-color: #000;
}

.selected {
    background-color: #000; 
}

#my-canvas{
    width: 100%;
    border: 3px solid #000000;
}

#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}

.toolbar a img{
    max-width:100%;
    height:auto;
}

.login {
    display: none;
}

.sticker-display {
    border: 3px solid #000000;
    background-color: white;
}

#page-contents {
    padding-left: 50px;
    padding-right: 50px;
}

.gallery-card {
    background-image: url(frame.jpg);
    background-size:100% 100%;
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 50px;
}

.slider {
    background-color: black;
}

.lower-card {
    display: inline-block;
}